*{
    margin:0;
    padding:0;
}
ul li{
    list-style:none;
}
a{
    text-decoration:none;
    outline:none;
}
body{
    background:url(../images/bg-img.jpeg) no-repeat;
    background-size:cover;
}
#header{
    background-color:#7c8e8559;
}
#menu{
    height:60px;
    line-height:80px;
    font-size:20px;
    margin-left:60%;
    overflow:hidden;
}
#menu-item{
    float:left;
    margin-left:20px;
}
#menu-item a{
    color:#57658be6;
}
#menu-item a:hover{
    color:#2b56cce6;
}
