.content{
    color:#fff;
}
.banner-title{
    display:block;
    margin-top:70px;
    margin-bottom:100px;
    font-family:arial;
    font-size:60px;
    text-align:center;
}
.banner-introduce, .banner-sign{
    display:block;
    text-align:center;
    font-size:30px;
    color:#fff;
}
.banner-sign{
    text-align:right;
    margin:50px 185px 0 0;
}
